<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<style>
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: #333;
}

#emailForm {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
}

input[type="email"], input[type="text"] {
	width: calc(100% - 10px);
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #32b43a;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #2aa630;
}

#successMessage {
	text-align: center;
	margin-top: 20px;
	color: #32b43a;
}

#userIdDisplay {
	display: none;
	text-align: center;
	margin-top: 20px;
	color: #333;
}

#emailInput {
	display: none;
}
</style>
</head>
<body>

	<h1>비밀번호 변경</h1>

	<form id="emailForm">
		<label for="Id">아이디</label> <input type="text" id="userId"
			placeholder="아이디 입력" required>
		<button type="button" id="verifyIdButton" onclick="checkUserId()">아이디
			인증</button>
		<p id="userIdVerificationResult"></p>
		<br>
		<div id="emailInput">
			<label for="email">이메일</label> <input type="email" id="email"
				name="email" required placeholder="이메일 입력">
			<button type="button" id="sendCodeButton" onclick="sendEmailPw()">이메일 인증</button>
			<p id="emailVerificationResult"></p>
			<br> <label for="code">인증코드</label> <input type="text" id="code"
				name="code" required placeholder="인증코드 입력">
			<button type="button" id="verifyCodeButton">인증번호
				확인</button>
			<span id="userIdDisplay"></span> <br>
		</div>
		<div id="passwordChangeSection" style="display: none;">
			<label for="newPassword">새 비밀번호 입력</label> <input type="password"
				id="newPassword" placeholder="새 비밀번호 입력"> <label
				for="confirmNewPassword">새 비밀번호 재입력</label> <input type="password"
				id="confirmNewPassword" placeholder="새 비밀번호 재입력">
			<button onclick="changePassword()" type="button">비밀번호 변경 완료</button>
			<p id="passwordChangeResult"></p>
		</div>

	</form>

</body>

<script>

function checkUserId(){
	var userIdValue = document.getElementById('userId').value;
	if(userIdValue=='' || userIdValue == null ){
		alert('아이디를 입력해주세요.');
		
		return;
	}
	const url = '/util/userIdCheck';
	fetch(url,{
		method : 'POST',
		body : userIdValue
	}).then(function(response){
		if(response.ok){
            var emailInputDisplay = document.getElementById('emailInput');
            emailInputDisplay.style.display = 'block';
            var userIdVerificationResult = document.getElementById('userIdVerificationResult');
            userIdVerificationResult.innerText = '아이디 인증 성공';
            document.getElementById('userId').readOnly = true;
			 
		}else{
            var userIdVerificationResult = document.getElementById('userIdVerificationResult');
	            userIdVerificationResult.innerText = '아이디가 존재하지 않습니다.';
		}
	})
}

function sendEmailPw(){
    const email = document.getElementById('email').value;
    const userId = document.getElementById('userId').value; // userId도 사용하고자 한다면 이렇게 추가합니다.
    const url = '/util/sendEmailChangePw';
    
    if(email === ''){
    	alert('이메일을 입력해주세요.');
    	document.getElementById('email').focus();
    	return;
    }
    
    // JSON으로 변환하여 요청 본문에 포함시킵니다.
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json', // 서버에 JSON 형식의 데이터임을 알려줍니다.
        },
        body: JSON.stringify({ email: email, userId: userId }) // email과 userId를 JSON 객체로 변환합니다.
    }).then(function(response) {
        console.log(response);
        if (response.ok) {
            response.json().then(function(data) {
                console.log(data);
                if(data.success) {
                    alert('이메일이 발송되었습니다.');
                } else {
                    alert(data.message);
                }
            });
        }
    }).catch(function(error) {
        console.error('Error:', error);
    });
}



$('#verifyCodeButton').click(function() {
    var code = $('#code').val();
    const url = '/util/verifyCodeFindId';
    fetch(url, {
        method: 'POST',
        body: code
    }).then(function(response) {
        console.log(response);
        if (response.ok) {
            response.json().then(function(data) {
                console.log(data);
                if(data.success) {
                    var userId = data.userId;
                    alert('인증되었습니다.');
                    document.getElementById('passwordChangeSection').style.display = 'block';
                } else {
                    alert(data.message);
                }
            });
        } else {
            alert('인증번호가 일치하지 않습니다.');
        }
    });
});

function changePassword(){
	
	var id = document.getElementById('userId').value;
	var pw = document.getElementById('newPassword').value;
	var pwRe = document.getElementById('confirmNewPassword').value;
	const regexLength = /^.{8,20}$/; // 8자에서 20자 사이
	const regexRepeatedChar = /(.)\1\1/; // 동일한 문자 3번 이상 반복 검사
	
	
	if(pw != pwRe){
		alert('입력한 비밀번호가 서로 다릅니다.');
		pwRe = '';
		return;
	}
	
	let pwCount = 0;
	if (/[a-zA-Z]/.test(pw))
		pwCount++;
	if (/[0-9]/.test(pw))
		pwCount++;
	if (/[^a-zA-Z0-9]/.test(pw))
		pwCount++;
	
	   // 모든 조건 검사
    if (
        !regexLength.test(pw) || // 길이 조건 실패
        pwCount < 2 || // 조합 조건 실패
        regexRepeatedChar.test(pw) || // 반복 문자 조건 실패
        pw !== pwRe // 비밀번호 일치 조건 실패
    ) {
        alert("비밀번호는 8~20자 사이이며, 영문, 숫자, 특수문자 중 2가지 이상 조합해야 합니다. 동일한 문자를 3번 이상 사용할 수 없습니다.");
        pw = '';
        pwRe = '';
        return;
    }
    
	
	const url = '/api/customer/changePw';
	
	fetch(url,{
		method : 'POST',
		headers: {
            'Content-Type': 'application/json', // 서버에 JSON 형식임을 알려줍니다.
        },
        body: JSON.stringify({ userId: id, password: pw }) 
	}).then(function(response) {
        console.log(response);
        if (response.ok) {
            response.json().then(function(data) {
                console.log(data);
                if(data.success) {
                    alert(data.message);
                    window.close();
                } else {
                    alert(data.message);
                }
            });
        } else {
            alert('비밀번호 변경에 실패하였습니다.');
        }
    });
	
	
}







</script>
</html>